<html>
<head>
  <title>Photo Frame</title>
  <link rel="stylesheet" type="text/css" href="<%= stylesheet_path 'app' %>">
  <script type="text/javascript" src="jquery.min.js"></script>
  <script type="text/javascript" src="<%= javascript_path 'app' %>"></script>
  <script type="text/javascript">
    IMAGES = <%= @images.to_json %>;
  </script>
</head>
<body>
  <div id="photo-frame"></div>
  <% @images.each do |image| %>
    <a href="/fetch?file=<%= image %>"><%= image[0..8] %>...</a>
  <% end %>
</body>
</html>
